!!!
%html
  %head
    %title CoffeeScript Sammyjs app
    %link{  :href => "/assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css" }
    %link{  :href => "/assets/css/jplayer.skin/blue.monday/jplayer.blue.monday.css", :rel => "stylesheet", :type => "text/css" }

    - js_libs = %w(jquery haml sammy sammy.haml coffee-script)
    - js_libs.each do |lib|
      %script{ :src => "/assets/js/#{lib}.js", :type => "text/javascript" }

    - if VK
      %script{ :src => "http://vk.com/js/api/xd_connection.js?2", :type => "text/javascript" }

    %script{ :src => "/assets/js/jquery.jplayer.min.js", :type => "text/javascript" }
    %script{ :src => "/assets/js/jplayer.playlist.min.js", :type => "text/javascript" }

    %script{ :src => "/app/player.coffee#{@ts}", :type => "text/coffeescript" }
    %script{ :src => "/app/model.coffee#{@ts}", :type => "text/coffeescript" }
    %script{ :src => "/app/app.coffee#{@ts}", :type => "text/coffeescript" }
    
  %body
    = yield